$primary-color: orangered;
$color-grey: grey;
$color-white: #fff;
.navbar {
  text-transform: uppercase;
  width: 100vw;
  padding: 35px 10%;
  background-color: transparent;
  z-index: 1000;
  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
      @media only screen and (max-width: 1200px) {
        display: none;
      }
      @media only screen and (max-width: 975px) {
        display: block;
      }
      margin-left: 20px;
      a {
        text-decoration: none;
      }

      &__CV {
        font-size: 12px;
        letter-spacing: 3px;
        line-height: 18px;
        background-color: $primary-color;
        padding: 8px 34px;
        outline: none;
        color: $color-white;
        border-radius: 20px;
        border: none;
        text-transform: uppercase;

        &:hover {
          background-color: $color-grey;
        }
      }
    }
    li {
      a {
        font-size: 1.2rem;
        color: white;
        letter-spacing: 3px;
        line-height: 3rem;
        transition: transform 0.3s ease-in-out;
        &:hover {
          @media only screen and (max-width: 995px) {
            transform: none;
          }
          transform: scale(1.2);
          color: $primary-color;
        }
      }
    }
    & .nav-item {
      &:not(:first-child) {
        @media only screen and (max-width: 995px) {
          margin-left: 0;
        }
        margin-left: 3rem;
      }
    }
  }
  &-toggler {
    i {
      @media only screen and (max-width: 650px) {
        font-size: 2rem;
      }
      color: grey;
      font-size: 2.6rem;
      padding: 10px;
      display: flex;
    }
  }
}

.scrollspy {
  display: flex;
  @media only screen and (max-width: 995px) {
    display: block;
  }

  .isCurrent {
    @media only screen and (max-width: 995px) {
      transform: none;
    }
    transform: scale(1.2);
    font-weight: 700;
    & a {
      color: $primary-color;
    }
  }
}

.affix {
  // when scrolled affix is added changing the following properties for effect
  transition: all 0.8s;
  background-color: white;
  padding: 20px 0;
  @media only screen and (max-width: 650px) {
    padding: 10px;
  }
  .navbar-nav {
    li a {
      color: grey;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .scrollspy {
    .isCurrent {
      @media only screen and (max-width: 995px) {
        transform: none;
      }
      transform: scale(1.1);
      & a {
        color: $primary-color;
      }
    }
  }
}
