$background-color: #222222;
$color-white: #fff;
$color-black: #000;
$color-grey: grey;
$color-grey-light: #333333;
$primary-color: orangered;
.formMain {
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    label {
      margin: 2px 0;
      font-size: 16px;
      font-weight: 500;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"] {
      color: $color-white;
      font-size: 14px;
      width: 95%;
      padding: 16px 16px;
      margin: 10px 0;
      display: inline-block;
      background-color: $color-grey-light;
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
      border: none;
      &::-webkit-input-placeholder {
        color: $color-grey;
        font-size: 16px;
      }
    }
    textarea {
      color: $color-white;
      font-size: 14px;
      border-radius: 4px;
      padding: 16px 16px;
      width: 95%;
      height: 200px;
      margin: 10px 0;
      background-color: $color-grey-light;
      box-sizing: border-box;
      outline: none;
      border: none;
      &::-webkit-input-placeholder {
        color: $color-grey;
        font-size: 16px;
      }
    }

    .submit-button {
      margin: 30px 0;
      width: 200px;
      height: 50px;
      font-size: 12px;
      letter-spacing: 3px;
      line-height: 18px;
      background-color: $primary-color;
      padding: 8px 34px;
      outline: none;
      color: $color-white;
      border-radius: 50px;
      border: none;
      text-transform: uppercase;
      margin-right: 10px;
      &:hover {
        background-color: $color-white;
        color: $color-grey;
      }
    }
  }
}
