$background-color: #222222;
$color-white: #fff;
$color-black: #000;
$color-grey: grey;
$color-grey-light: #333333;
$primary-color: orangered;
.footer {
  background-color: $background-color;
  padding: 8rem 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: $color-grey;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 27.2px;
    a {
      margin-left: 10px;
      text-decoration: none;
      font-weight: 700;
      color: $primary-color;
      text-transform: uppercase;
      &:hover {
        color: $color-white;
      }
    }
  }
  .social {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 26px;
      text-decoration: none;
    }
    &__item {
      &:hover {
        background-color: $color-white;
        color: $primary-color;
      }
      &:not(:first-child) {
        margin-left: 10px;
      }
      height: 70px;
      width: 70px;
      background: $primary-color;
      color: white;
    }
  }
}
